[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
ipykernel = "*"
nbdime = "*"
boston = {editable = true,path = "."}
pytest = "*"
ipytest = "*"
invoke = "*"
black = "==19.10b0"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
statsmodels = "*"
nbval = "*"

[requires]
python_version = "3.7"

[scripts]
precommit = "invoke precommit"
format = "invoke format"
test = "invoke test"
