[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
ipykernel = "*"
nbdime = "*"
boston = {editable = true,path = "."}
pytest = "*"
ipytest = "*"

[requires]
python_version = "3.7"
